<a href="https://colab.research.google.com/github/huuphong1995/hello-world/blob/master/Learning_Dictionary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python for Data 7: Dictionaries and Sets

Dictionaries and sets are unordered Python data structures that solve this issue using a technique called hashing. We won't go into the details of their implementation, but dictionaries and sets let you check whether they contain objects without having to search through each element one at a time, at the cost of having no order and using a bit more system memory.

In [ ]:
my_list = [1,2,3,4,5,6,7,8,9,10]

0 in my_list

In [ ]:
# Declare a dictionary 
my_dict = {"name": "Joe",
           "age": 10, 
           "city": "Paris"}

print(my_dict)

In [ ]:
my_dict["name"]

In [ ]:
my_dict["new_key"] = "new_value"

print(my_dict)

In [ ]:
len(my_dict)

In [ ]:
# You can access all the keys, all the values or all the key: value pairs of a dictionary with the keys(), value() and items() functions respectively:
my_dict.keys()
my_dict.values()
my_dict.items()

In [1]:
my_table_dict = {"name": ["Joe", "Bob", "Harry"],
                 "age": [10,15,20] , 
                 "city": ["Paris", "New York", "Tokyo"]}
my_table_dict

{'name': ['Joe', 'Bob', 'Harry'],
 'age': [10, 15, 20],
 'city': ['Paris', 'New York', 'Tokyo']}

Sets

In [7]:
# declare a sets

my_set = {1,2,3,4,5,6,7}

type(my_set)

set

In [8]:
# Add and remove items from a set with add() and remove() respectively:

my_set.add(8)

my_set.remove(7)

my_set

{1, 2, 3, 4, 5, 6, 8}

In [13]:
# Sets do not support indexing, but they do support basic sequence functions like len(), min(), max() and sum()
len(my_set)
min(my_set)
max(my_set)
sum(my_set)

29

In [14]:
#  check membership and non-membership as usual with in
6 in my_set

True

In [16]:
# compare or combine different sets

set1 = {1,3,5,6}
set2 = {1,2,3,4}

set1.union(set2)  # Get the union of two sets

{1, 2, 3, 4, 5, 6}

In [18]:
set1.intersection(set2) # get the intersection of two setssets

{1, 3}

In [20]:
set1.difference(set2) # get the difference btw two sets

{5, 6}

In [22]:
set1.issubset(set2) # check whether set1 is a subset of set2

False

In [23]:
# convert a list into a set using the set() function
# Drops any duplocate elements in the listlist

my_list = [1,2,2,2,3,3,4,5,5,5,6]

set(my_list)

{1, 2, 3, 4, 5, 6}

Dictionaries are general-purpose data structures capable of encoding both tabular and non-tabular data. As basic built in Python data structures, however, they lack many of the conveniences we'd like when working with tabular data, like the ability to look at summary statistics for each column and transform the data quickly and easily. In the next two lessons, we'll look at data structures available in Python packages designed for data analysis: numpy arrays and pandas DataFrames.