<a href="https://colab.research.google.com/github/huuphong1995/hello-world/blob/master/Tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python for Data 6: Tuples and Strings
Tuples are an immutable sequence data type that are commonly used to hold short collections of related data. For instance, if you wanted to store latitude and longitude coordinates for cities, tuples might be a good choice, because the values are related and not likely to change. Like lists, tuples can store objects of different types.

In [6]:
my_tuple = (1,2,3)
print(my_tuple)

(1, 2, 3)

In [7]:
# Alternatively, you can construct a tuple by passing an iterable into the tuple() function:

my_list = [1,2,3,4]

another_tuple = tuple(my_list)

another_tuple

(1, 2, 3, 4)

In [16]:
print(another_tuple[2]) # You can index into tuples
print(another_tuple[1:3]) # You can slice tuples
print(another_tuple[:]) # print all the value

3
(2, 3)
(1, 2, 3, 4)

In [8]:
# You can use common sequence functions on tuples:

print( len(another_tuple))   
print( min(another_tuple))  
print( max(another_tuple))  
print( sum(another_tuple))

4
1
4
10

In [ ]:
another_tuple.append(1)    # You can't append to a tuple
del another_tuple[1]      # You can't delete from a tuple

In [ ]:
sorted(another_tuple) # sorted an tuple

Tuples are Immutable

In [12]:
list1 = [1,2,3]

tuple1 = ("Tuples are Immutable", list1)

print(tuple1)

tuple2 = tuple1[:]                       # Make a shallow copy

list1.append("But lists are mutable")

print( tuple2 )                          # Print the copy

('Tuples are Immutable', [1, 2, 3])
('Tuples are Immutable', [1, 2, 3, 'But lists are mutable'])

In [13]:
# To avoid this behavior, make a deepcopy using the copy library:
import copy

list1 = [1,2,3]

tuple1 = ("Tuples are Immutable", list1)

tuple2 = copy.deepcopy(tuple1)           # Make a deep copy

list1.append("But lists are mutable")

print( tuple2 )
print(list1)

('Tuples are Immutable', [1, 2, 3])
[1, 2, 3, 'But lists are mutable']

Strings

In [14]:
my_string = "hello world"
my_string[3]  # Get the character at index 3
my_string[3:] # Slice from the third index to the end
my_string[::-1] # Reverse the string

'dlrow olleh'

In [15]:
# In addition, certain sequence functions like len() and count() work on strings:
len(my_string)

11

In [16]:
my_string.count("l") # Count the l's in the string

3

In [17]:
# str.lower()     

my_string.lower()   # Make all characters lowercase

'hello world'

In [18]:
# str.upper()     

my_string.upper()   # Make all characters uppercase

'HELLO WORLD'

In [19]:
# str.title()

my_string.title()   # Make the first letter of each word uppercase

'Hello World'

In [20]:
# Find the index of the first appearing substring within a string using str.find(). If the substring does not appear, find() returns -1:
my_string.find("W")

-1

In [21]:
my_string.replace("world",    # Substring to replace
                  "friend")   # New substring

'hello friend'

In [22]:
my_string.split()     # str.split() splits on spaces by default

['hello', 'world']

In [23]:
my_string.split("l")  # Supply a substring to split on other values

['he', '', 'o wor', 'd']

In [24]:
# Split a multi-line string into a list of lines using str.splitlines():
multiline_string = """I am
a multiline 
string!
"""

multiline_string.splitlines()

['I am', 'a multiline ', 'string!']

In [25]:
# str.strip() removes whitespace by default

"    strip white space!   ".strip("     strip")

'white space!'

In [26]:
"BuyNOW".strip("Buy")

'NOW'

In [27]:
" ".join(["Hello", "World!", "Join", "Me!"])

'Hello World! Join Me!'

In [28]:
name = "Phong"
age = 28
city = "Hanoi"

"My name is " + name + " I am " + str(age) + " and i live in " + city

'My name is Phong I am 28 and i live in Hanoi'

In [29]:
template_string = "My name is {} I am {} and I live in {}"

template_string.format(name, age, city)

'My name is Phong I am 28 and I live in Hanoi'

In [30]:
# Remaking the example above using an f-string

f"My name is {name} I am {age} and I live in {city}"

'My name is Phong I am 28 and I live in Hanoi'

Wrap up

Basic sequences like lists, tuples and strings appear everywhere in Python code, so it is essential to understand the basics of how they work before we can start using Python for data analysis. We're almost ready to dive into data structures designed specifically data analysis, but before we do, we need to cover two more useful built in Python data structures: dictionaries and sets.